__pycache__
styles/colors.css
config/config.json
config/hypr/ax-shell.conf
config/hypr/colors.conf
Ax-Shell.code-workspace
personal_config.json
.aider*
config/dock.json
config/dock.json.bak
.venv
uv.lock
typings/
