/* === Botones Base === */
#network-button,
#bluetooth-button,
#light-button,
#caffeine-button {
  min-height: 52px;
  border-radius: 16px;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#light-button,
#network-button,
#bluetooth-button {
    background-color: unset;
    padding: unset;
}

/* Button Hover Styles */

#light-status-button:hover,
#light-menu-button:hover,
#network-status-button:hover,
#network-menu-button:hover,
#bluetooth-status-button:hover,
#bluetooth-menu-button:hover {
    background-color: var(--foreground);
}

#night-mode-button.disabled,
#caffeine-button.disabled {
  background-color: var(--surface);
  border-radius: 26px;
}

/* Icon Styles */

#network-icon,
#bluetooth-icon,
#light-icon,
#caffeine-icon {
    color: var(--shadow);
    font-size: 24px;
}

/* Label Styles */
#light-menu-label,
#network-menu-label,
#bluetooth-menu-label {
    color: var(--shadow);
    font-size: 16px;
}

/* Status Styles */

#network-ssid,
#bluetooth-status,
#light-status,
#caffeine-status {
    color: var(--surface-bright);
    font-size: 12px;
}

#light-status-button,
#light-menu-button,
#network-status-button,
#network-menu-button,
#bluetooth-status-button,
#bluetooth-menu-button {
  background-color: var(--primary);
  padding: 0 8px;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#network-menu-button,
#bluetooth-menu-button {
  border-left: 1px solid var(--outline);
  min-width: 24px;
}

/* Estados Hover para todos los botones relevantes */
#network-status-button:hover,
#network-menu-button:hover,
#bluetooth-status-button:hover,
#bluetooth-menu-button:hover,
#bluetooth-button:hover,
#light-status-button:hover,
#light-menu-button:hover,
#caffeine-button:hover {
  background-color: var(--foreground);
}

#network-menu-button:active,
#bluetooth-menu-button:active,
#light-menu-button:active {
  border-radius: 0 26px 26px 0;
}

/* Estados Disabled */
#network-status-button.disabled,
#network-menu-button.disabled,
#bluetooth-status-button.disabled,
#bluetooth-menu-button.disabled,
#light-status-button.disabled,
#light-menu-button.disabled {
  background-color: var(--surface);
  border-radius: 26px 0 0 26px;
}

#network-menu-button.disabled,
#bluetooth-menu-button.disabled,
#light-menu-button.disabled {
  border-left: 1px solid var(--surface-bright);
  border-radius: 0 26px 26px 0;
}

#network-status-button.disabled:hover,
#network-menu-button.disabled:hover,
#bluetooth-status-button.disabled:hover,
#bluetooth-menu-button.disabled:hover,
#light-status-button.disabled:hover,
#light-menu-button.disabled:hover {
    background-color: var(--surface-bright);
}

#light-status-button,
#network-status-button,
#bluetooth-status-button {
  border-radius: 16px 0 0 16px;
}

#light-menu-button,
#network-menu-button,
#bluetooth-menu-button {
  border-radius: 0 16px 16px 0;
}

#network-status-button:hover,
#bluetooth-button:hover,
#light-button:hover,
#caffeine-button:hover {
    background-color: var(--foreground);
}

#network-icon,
#bluetooth-icon,
#light-icon,
#caffeine-icon {
    color: var(--shadow);
    font-size: 24px;
}

#light-menu-label,
#network-menu-label,
#bluetooth-menu-label {
    color: var(--shadow);
    font-size: 16px;
}

#network-label,
#bluetooth-label,
#light-label,
#caffeine-label {
  color: var(--shadow);
  font-size: 14px;
  font-weight: bold;
  /* margin-bottom: -4px; */
}

#light-menu-status,
#network-ssid,
#bluetooth-status {
    color: var(--surface-bright);
    font-size: 12px;
}
